In [1]:
import numpy as np
import pandas as pd 
from pathlib import Path

runtime_path = Path().resolve() / "runtimes.csv"
aug_stats_path = Path().resolve() / "august_stats.csv"

In [8]:
df_runtimes = pd.read_csv(runtime_path)
df_runtimes.iloc[5:20]

               function max_points  n_obs  batch_size  n_cores  runtime_sec
5   tensor_to_reduced_x       1000    100         2.0     12.0         16.0
6   tensor_to_reduced_x       1000   2123         2.0     12.0        384.0
7   tensor_to_reduced_x       5000   2123         2.0     12.0        362.0
8   tensor_to_reduced_x       1000   2123         2.0     12.0        383.0
9         compute_stats        inf   2123         2.0     12.0        599.0
10  tensor_to_reduced_x     100000   2123         2.0     12.0        552.0
11  tensor_to_reduced_x     100000   2123         2.0     12.0        389.0
12  tensor_to_reduced_x     200000   2123         2.0     12.0        429.4
13     batch_kmeans.fit     200000   2123         NaN     12.0        102.0

In [7]:
df_runtimes = pd.read_csv(runtime_path)

entry = pd.DataFrame({
    "function": ["batch_kmeans.fit"],
    "max_points": [200_000],
    "n_obs": [2123],
    "n_cores": [12],
    "batch_size": [np.nan],
    "runtime_sec": [102]
})

df_runtimes = pd.concat([df_runtimes, entry], ignore_index=True)
df_runtimes.to_csv(runtime_path, index=False)

## Hydroacoustic stats

In [3]:
df_aug_stats = pd.read_csv(aug_stats_path)
df_aug_stats.describe()

       duration_sec     peak_abs     mean_abs          rms        zcr_hz
count   2123.000000  2123.000000  2123.000000  2123.000000   2123.000000
mean     267.983389     0.091587     0.001039     0.001598   6239.255259
std        0.011823     0.113788     0.000701     0.001232   1432.596680
min      267.919500     0.000610     0.000328     0.000331      6.859425
25%      267.975000     0.031509     0.000714     0.001054   5186.031250
50%      267.985500     0.055420     0.000917     0.001339   6164.820312
75%      267.993250     0.102600     0.001185     0.001828   7114.025879
max      268.001281     1.000000     0.017875     0.031931  11680.306641

In [9]:
df_aug_stats.head()

,filename,duration_sec,peak_abs,mean_abs,rms,zcr_hz
0,6229.220802160000.wav,267.99600,0.991760,0.017875,0.031931,413.547241
1,6229.220805100000.wav,267.99975,0.328156,0.010691,0.013935,7459.652832
2,6229.220823124000.wav,267.99300,0.354340,0.010677,0.015652,9802.215820
3,6229.220802164000.wav,267.98450,0.083649,0.010297,0.012882,379.570496
4,6229.220802162000.wav,267.98450,0.661285,0.008897,0.011389,418.942139